.coworker {
    width: 280px;
}

.coworker .header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    height: 30%;
}

.coworker img {
    width: 140px;
    border-radius: 50%;
    position: relative;
    bottom: -40px;
}

.coworker .footer {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 72px;
    padding-bottom: 8px;
}

.coworker .footer h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.coworker .footer h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #212121;
    margin-top: -16px;
}