.input-box {
    margin: 24px 0;
}

.input-box label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.input-box input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.input-color input {
    padding: 10px 24px;
    height: 50px;
}