.team {
    text-align: center;
    padding: 32px;
    position: relative;
}

.team h3 {
    font-size: 32pt;
    font-weight: normal;
    border-bottom: 4px solid;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}

.team .coworkers {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;

}

.team .color-selector {
    position: absolute;
    top: 30px;
    right: 70px;
}