.button-submit button {
    color: #FFFFFF;
    background-color: #6278f7;
    padding: 30px;
    margin: 32px 0;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}

.button-submit button:hover {
    color: #95FFD4;
}