.form-section{
    display: flex;
    justify-content: center;
}

.form-box {
    width: 80%;
    background-color: #F2F2F2;
    padding: 10px 40px;
    margin: 80px 0px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
}