.form-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-box {
    background-color: #F2F2F2;
    max-width: 800px;
    padding: 10px 40px;
    margin: 80px 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
    flex: 1;
    position: relative;
}

.form-box h2 {
    font-weight: 600;
}

.new-team {
    color: #6278f7;
    font-size: 18pt;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    bottom: 120px;
    right: 50px;
}

.new-team:hover {
    text-decoration: underline;
}